[2022-07-14 04:30] tier3guy opened #2 "Students dashboard UI"
Students dashboard will show all the saved links of by the students.
Note : While the building the UI, try to maintain the theme of the site.

[2022-07-14 04:37] tier3guy opened #3 "Students Dashboard backend."
We want to build the backend for the dashboard, where students can save there most loved topics.
One can use any tech for the database (eg. firebase, sql, etc.)

[2022-07-14 04:38] tier3guy opened #4 "Students Login"
Build the login feature for the org.

[2022-07-14 04:40] tier3guy opened #5 "Discord button not working in the Home page."
Discord button is not working in the home page. Attach the link of the discord on that.

[2022-07-14 06:37] rohangupta8756 commented on #5
I would like to take up this.

[2022-07-14 10:10] tier3guy opened #7 "Books, PDFs, Notes"
Attach the link to google drive of books, PDFs, and notes of any academic, if you have any.

[2022-07-14 10:14] tier3guy opened #8 "Icon Colors"
@ https://tier3guy.github.io/Acadmica/src/pages/development/main.html

The color of icons should change just like it's one Machine learning icon on hover.

[2022-07-14 10:16] tier3guy opened #9 "Built a custom Scroll Bar"
Built a custom Scroll Bar maintaining the theme of the org.

[2022-07-14 10:17] tier3guy opened #10 "Join Study Room - Button is not working"
Update the link in the join button.

[2022-07-14 10:25] Aspireve commented on #9
Hey @tier3guy Could I work on this issue?

[2022-07-14 10:29] tier3guy commented on #9
Yeah sure @Aspireve. Go for it.

[2022-07-14 10:33] Aspireve commented on #9
Yup thanks!!

[2022-07-14 10:38] tier3guy opened #11 "Update Readme"
Update and redesign the current readme and build a fresh one as there were lots of changes from day 1 on the site.

The readme will contain -

[2022-07-14 11:35] Aspireve commented on #9
Hey I have done it

[2022-07-14 11:46] tier3guy commented on #9
Yes, it's great you can commit and push it

[2022-07-14 11:55] Aspireve commented on #9
Yup Ill do it soon

[2022-07-14 11:56] Aspireve commented on #9
@tier3guy , Should I push it straight to the master branch or make another branch to push it?

[2022-07-14 12:01] tier3guy opened #12 "Responsive"
https://tier3guy.github.io/Acadmica/src/pages/development/main.html

Make this page responsive, the code is breaking at mobile devices.

[2022-07-14 12:13] Aspireve commented on #9
Hey @tier3guy  I guess I need some permission from your side to commit it, could you give me the permission.
![image](https://user-images.githubusercontent.com/93852415/178979593-2af2c0e3-57d9-4a6b-9c7b-56771eae2252.png)

[2022-07-14 12:55] Parzivalcen commented on #12
Can I take this one as well?

[2022-07-14 12:55] Aspireve commented on #9
Yes I finally made the pull request. Do review it.

[2022-07-14 15:03] tier3guy commented on #12
Yes go with it

[2022-07-14 18:17] Trevy05 commented on #8
I would like to take on this issue, any specific colors in mind for the icons?

[2022-07-14 20:42] Parzivalcen commented on #12
Why is the nav max witdth at 700px? can I change That?

[2022-07-15 03:02] tier3guy commented on #8
I have assigned this to you, go for it.

[2022-07-15 03:04] tier3guy commented on #12
Change on the local, take a ss and send here !!

[2022-07-15 04:12] tier3guy commented on #10
Hey, @Parzivalcen
Here is the link : https://tier3guy.github.io/Acadmica/public/studyroom.html

Go for it.

[2022-07-15 04:13] #9 closed

[2022-07-15 04:19] tier3guy commented on #5
Hey @rohangupta8756 the link in the Discord button is still not updated here, please do this so that I can close this issue.
![Join btn](https://user-images.githubusercontent.com/73595465/179149514-22d05daa-093b-45f3-8cce-cd5b13348f9d.jpeg)

[2022-07-15 04:39] tier3guy opened #14 "Build CS fundamentals Page"
In the Interview Preparation section/page (here : https://tier3guy.github.io/Acadmica/src/pages/interviewPrep/main.html )

Build one sub-section for CS Fundamentals required for interview.

### The section will have
- Heading
- importance of the CS core subjects
- put some example of asked questions in MAANGM
- Build the accordion and ( like OS, Computer Networks, DBMS etc )
eg. of accordion :
![a

[2022-07-16 20:04] rohangupta8756 commented on #5
@tier3guy  I think there's some issue with the file and i'm unable to figure it out exactly.  After updating the code, it doesn't work. That is why i'm unable to update the link there.

[2022-07-16 21:32] Arpit-mohankar commented on #11
can i contributr to this issue

[2022-07-17 04:47] tier3guy commented on #11
@Arpit-mohankar Go for it. I am assigning it you !!

[2022-07-17 04:48] tier3guy commented on #5
Have you created any separate branch for it ??

[2022-07-17 12:24] tier3guy opened #16 "Build a Custom 4O4 Error page"
Build a custom-beautiful 4O4 page for the site. Maintaining the theme.

Add on's :
Try be unique will designing the page.

[2022-07-17 12:41] DPR-4 opened #17 "hover effects to some buttons and some animation or zoom effect to the image"

[2022-07-17 12:42] DPR-4 commented on #17
hover effects to some buttons and some animation or zoom effect to the image

[2022-07-17 12:44] tier3guy commented on #17
Hey @DPR-4, If you raising one issue, then always try to put the link of the page where you have find the bug.

It will easier to find that bug for others.

[2022-07-17 12:49] tier3guy opened #18 "Update the discord button link in each page"
The updated link ~ https://discord.gg/ZkHXnxhda7

[2022-07-17 12:54] tier3guy opened #19 "Update the page link in development section"
In the page ~ https://acadmica.social/src/pages/development/main.html

![Screenshot 2022-07-17 at 18-22-46 Acadmica](https://user-images.githubusercontent.com/73595465/179399242-4721ad67-72cf-44ca-980f-ed16bfa4b82e.png)

In the above section the links are not working while pages are created already. Do attach the links of the pages.

[2022-07-17 13:04] losier commented on #16
I can try to make you a custom 404 page.
what are your requirements on that page.

[2022-07-17 13:11] tier3guy opened #20 "In the navbar add one more link to the github repo"
![Screenshot 2022-07-17 at 18-40-21 Acadmica](https://user-images.githubusercontent.com/73595465/179399933-95962a9c-27ca-49b9-acb9-f4ad9aa7d10c.png)

Before the Subscribe US button, add the github icon put the link to the repo

[2022-07-17 13:18] nalin-singh commented on #20
Before contributing any format to follow ?

[2022-07-17 13:45] rohangupta8756 commented on #5
No, I had committed it to my repo which I forked.

[2022-07-17 14:22] Jasleen-001 commented on #20
Please assign this issue to me

[2022-07-17 15:28] tier3guy commented on #20
@nalin-singh The only format is to maintain the theme and to follow the project code structure.
Add on's : Try to write responsive code that can also work for other media devices also.

[2022-07-17 15:31] tier3guy commented on #20
So, @nalin-singh @Jasleen-001 I am assigning it to both of you for now. try to collab with each other or you guys divide the tasks, or you guys can talk to each other.

[2022-07-17 15:35] tier3guy commented on #16
Nothing much, just a 404 big text, with a sweet message below it.
Also, the page will contain a button [ go back to home ] something like this, that will redirect the user to the home page.

[2022-07-17 15:35] tier3guy commented on #16
If you are comfortable tell me, and I will assign it to you !!

[2022-07-17 15:54] Korra15 commented on #19
Could you please assign this to me under SSOC 2022

[2022-07-17 16:43] losier commented on #16
Sure @tier3guy i'll submit my code by tomorrow afternoon. One more thing can you tell me the background like you want a light background or a dark background

[2022-07-17 16:47] tier3guy commented on #19
Yeah sure @Korra15

[2022-07-17 16:50] tier3guy commented on #16
You can start with the light theme.

[2022-07-18 02:32] tier3guy opened #22 "Dark Implementation"
Implement a dark and a toggle button to switch between light mode and dark mode.

Theme :
Dark BG : # 3D3C42
Blue : # 1363DF
Light blue : # 7FB5FF
white : # ffffff

[2022-07-18 02:37] tier3guy opened #23 "Donate button at the footer"
@ https://acadmica.social
@ the footer of the site, a donate button / buy me a coffee button is added

The button is only available on the index page / home page, make it available on all the other pages
Also the button is not responsive for media devices <= 700px, make it responsive

[2022-07-18 02:52] ivanetra commented on #23
Hi @tier3guy, could u assign the issue to me?

[2022-07-18 04:19] tier3guy commented on #23
@ivanetra Go for it.

[2022-07-18 04:20] #8 closed

[2022-07-18 04:22] tier3guy commented on #12
@Parzivalcen What is the status ?

[2022-07-18 04:22] losier commented on #16
Hey @tier3guy here is my pr #24 for this issue

[2022-07-18 04:28] tier3guy opened #25 "Build one code-editor"
Design one separate page, maintaining the theme of the org. containing one code-editor and a online compiler.

You can take use of iframes !!

[2022-07-18 04:30] tier3guy opened #26 "DSA Sheets"
Build one separate page, containing the links of all the famous DSA sheets like -
Strivers, babbars, fraz's, shradha's etc

[2022-07-18 04:31] ivanetra commented on #23
Thank you @tier3guy !

[2022-07-18 04:38] tier3guy opened #28 "Create 503 page"
create one 503 page - 503 page is the page displayed to the user when the server fails to respond. Take some inspiration from the internet.

[2022-07-18 04:44] tier3guy commented on #16
@losier the back button in your page is not working.

Also the page is too fancy. You must design a minimal page. always try to maintain the theme of the org. ( use blue & white colors )

I have merged your previous pull request.
If you want to work on the changes you can let me know, otherwise we raise one other issues for the enhancement in 4O4 page.

[2022-07-18 04:55] losier commented on #16
Ok give me some time ill try to make one more 404 page soon

[2022-07-18 04:56] losier commented on #16
@tier3guy should i share the screenshot first tims time?>

[2022-07-18 04:57] tier3guy commented on #16
No not required now

[2022-07-18 05:16] Aspireve commented on #28
Hey @tier3guy Could I try to do it?

[2022-07-18 05:17] tier3guy commented on #28
Go for it.

[2022-07-18 05:49] losier commented on #16
Hope you like this one this time it's based on your website theme and tried to make it minimal.
[Image}(https://ibb.co/tpL0GZJ)

[2022-07-18 06:01] tier3guy commented on #16
@losier The image is not visible to me. Just drag and drop the SS of the changes into the comment box here.

[2022-07-18 06:05] khan-mujeeb commented on #26
I would like to work on this issue

[2022-07-18 06:09] Aspireve commented on #28
Hey I just realized you have a 404 error page but for some reason it isnt showing on the main site
it shows this instead

[2022-07-18 06:10] Aspireve commented on #28
I thought I could find out how its made so that I could get inspiration for the 503 page

[2022-07-18 06:32] losier commented on #16
![Screenshot 2022-07-18 111825](https://user-images.githubusercontent.com/85448514/179455992-c6677166-c5ca-429f-8fe3-39063810de49.png)

[2022-07-18 07:06] Aspireve commented on #28
You might have to folow the [Creating a custom 404 page for your GitHub Pages site](https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-custom-404-page-for-your-github-pages-site) to make the 404 page more accessible and similarly for the 503 page. Ill create the 503 HTML and CSS page and push it soon

[2022-07-18 07:55] Aspireve commented on #28
So I came up with this page. It is made with the same stylesheet as the 404 error page so that the design looks consistent throughout the document
![image](https://user-images.githubusercontent.com/93852415/179467061-6d34741a-cfcb-43df-8c13-91d1f0f25457.png)
And on pressing the Refresh button it redirects you to the index.html page, which if the site isnt up yet will again issue a 503 error page a

[2022-07-18 08:55] tier3guy commented on #26
@khan-mujeeb Go for it !!

[2022-07-18 08:55] #23 closed

[2022-07-18 08:56] #16 closed

[2022-07-18 08:58] tier3guy commented on #28
@Aspireve the design of the 4O4 has been updated, take the inspiration from it and please try re-design it. We want a minimal design.

[2022-07-18 09:40] Aspireve commented on #28
Oh sure Ill make it soon and Push it

[2022-07-18 09:58] Aspireve commented on #28
@tier3guy The new 404 page looks awesome!!

How's this?
![image](https://user-images.githubusercontent.com/93852415/179488286-4787b3a6-0eee-4411-87d1-aa9324fa6213.png)

[2022-07-18 11:09] tier3guy commented on #28
You are good to go with it.

[2022-07-18 11:09] tier3guy commented on #28
Push the changes.

[2022-07-18 11:43] Aspireve commented on #28
Yup Ill push it soon!!

[2022-07-18 12:00] #28 closed

[2022-07-19 00:57] Trevy05 commented on #18
Can I have this issue?

[2022-07-19 03:43] tier3guy commented on #18
Go for it.

[2022-07-19 11:55] tier3guy commented on #11
@Arpit-mohankar What is the update ?

[2022-07-19 12:08] Arpit-mohankar commented on #11
@tier3guy hey i have done that two days ago itself but i think i pull my request on some other repository sorry
i am newbie here

[2022-07-19 12:55] Arpit-mohankar commented on #11
@tier3guy Hey i have made pull request please review and merge!!

[2022-07-19 15:53] Korra15 commented on #22
Could you please assign this to me under SSOC 2022

[2022-07-19 16:35] #19 closed

[2022-07-19 20:16] parshuraam commented on #26
I'd like to contribute to this. May I?

[2022-07-20 01:35] Roshani9731 commented on #5
@tier3guy Can I work on this issue?

[2022-07-20 01:44] Roshani9731 commented on #7
Can I attach the file of GATE OVERFLOW PDF, Languages Cheat Sheet etc.

[2022-07-20 01:47] Roshani9731 commented on #10
@tier3guy Can I work on this issue?

[2022-07-20 02:09] tier3guy commented on #5
Go for it @Roshani9731

[2022-07-20 02:10] tier3guy commented on #7
Yes definately!!!

[2022-07-20 02:11] tier3guy commented on #10
Go for it @Roshani9731

[2022-07-20 02:13] tier3guy commented on #26
@parshuraam yes you can take up the call.

[2022-07-20 03:13] Roshani9731 commented on #7
@tier3guy Where I have to link the link of drive ?

[2022-07-20 03:25] Roshani9731 commented on #7
In study statistic section?

[2022-07-20 05:13] tier3guy commented on #7
Suppose you are attaching cheatsheet for some language specific, then it should be attached in the dsa section under interview preparation.
like you are attaching resources for gate then it should go under academic section
like this only

[2022-07-20 20:46] con-artist commented on #18
can you assign me this issue please under ssoc

[2022-07-20 23:04] rakshitgondwal commented on #5
Discord button seems working perfectly for me though.

[2022-07-20 23:04] rakshitgondwal commented on #10
Study room button seems working perfectly for me though.

[2022-07-21 04:49] Korra15 commented on #22
which page does this need feature to be implemented?

[2022-07-21 06:01] Roshani9731 commented on #7
Ohk, Got it.

[2022-07-21 07:11] tier3guy commented on #18
This issue is already been assigned. @con-artist You can look at some other issues. We are waiting for your contribution.

[2022-07-21 07:12] #5 closed

[2022-07-21 07:13] #10 closed

[2022-07-21 07:13] #11 closed

[2022-07-21 07:14] tier3guy commented on #20
@Jasleen-001 @nalin-singh What is the status ?

[2022-07-21 07:15] tier3guy commented on #22
For now start with home page !! We want it on the whole org.

[2022-07-21 07:16] tier3guy commented on #26
what errors you are facing. Ellaborate or send the SS

[2022-07-21 13:36] Jasleen-001 commented on #20
![image](https://user-images.githubusercontent.com/89333454/180226173-43d376cb-8559-4235-a7e3-e107be075bab.png)
Is this right ? I can add the icon of github instead of "Github Repository" as well but it would look odd plus this method also aligns with all the other important links so I made it this way.Let me know if any you want it other way around.

[2022-07-21 17:17] tier3guy commented on #20
Okay it's okay. But if you are writing it on text just write "GitHub" instead of "GitHub repository"

[2022-07-21 18:24] 2024-SANDHYA opened #40 "Favicon"
Adding favicon on each and every connected webpages

[2022-07-21 19:34] parshuraam commented on #26
Is the page ready yet? If not then I can make one for DSA resources.
Do let me know.

[2022-07-22 05:47] tier3guy commented on #26
Go for it @parshuraam

[2022-07-22 16:39] Aspireve opened #44 "Contrast in button text"
There is very less contrast on the _**Join Study Room**_ , maybe a more white color or the website theme color can be used to increase the contrast

![image](https://user-images.githubusercontent.com/93852415/180484677-09ea4a9a-cf2b-400e-bcad-6e6047416c8d.png)

[2022-07-22 16:40] Aspireve commented on #44
Hey @tier3guy Could I work on this one?

[2022-07-22 16:50] tushar-glitch commented on #44
hey there, I want to work on this issue. Could you please assign it to me?

[2022-07-22 16:53] tushar-glitch commented on #17
hey @DPR-4, please allow me to work on this issue.

[2022-07-23 10:29] Aman-Singh-Kushwaha commented on #40
Hey, I can do it

[2022-07-23 11:06] tier3guy commented on #40
Go for it

[2022-07-23 15:54] khan-mujeeb commented on #14
I would like to work on this issue

[2022-07-23 16:09] tier3guy commented on #14
Go for it

[2022-07-23 17:49] Kamya123 opened #48 "Accordion Working (JS) in Home Page"

[2022-07-23 19:31] 2024-SANDHYA commented on #40
@tier3guy I opened the issue and according to the rules, the issue should be assigned to me and not any other person commenting on the issue.

[2022-07-24 02:03] tier3guy commented on #40
@2024-SANDHYA Raising one issue and asking for assignment are two different things,
You raised one issue that's good, that is also one contribution but if you want work on that issue you should ask for assigning that issue.
Hope you got my point. By the way if you want to work on this you can go ahead with this, I will merge both PR's and if some changes will be required, I will assign it back to

[2022-07-24 21:51] Aman-Singh-Kushwaha commented on #40
@tier3guy  Hey,
Please review favicon work
<img width="184" alt="image" src="https://user-images.githubusercontent.com/96011814/180667236-3afa1345-5025-4959-abdc-6437ca78d405.png">

[2022-07-24 21:54] Aman-Singh-Kushwaha commented on #40
this favicon also matches the colour palette and the navbar logo

[2022-07-25 12:53] tier3guy opened #51 "Loading Screen"
Build one loading screen and make it last for around 2-3 seconds

[2022-07-25 16:14] SushanthReddy-49 commented on #51
I would like to work on this. Can you please assign this to me.

CC: @tier3guy

[2022-07-25 16:19] SushanthReddy-49 opened #53 "The Web Button in the following page is navigating to wrong page."
https://acadmica.social/src/pages/development/main.html

When we click on the WEB button, it is navigating to the BlockChain page.
Can you assign me to fix this, so that I can learn contribution
@tier3guy

[2022-07-25 16:35] tier3guy commented on #51
Go for it

[2022-07-25 17:00] GAbdulWahab commented on #26
I'd like to contribute to this. May I?

[2022-07-26 03:28] tier3guy commented on #26
Always welcome @GAbdulWahab

[2022-07-26 16:41] tier3guy opened #55 "Github button missing in nav in responsive UI"

[2022-07-26 16:43] tier3guy opened #56 "In mobile nav, the link of study room and study statistics are redirecting to the home page."

[2022-07-26 16:47] SushanthReddy-49 commented on #55
I would like to fix this. Can you please assign this to me.
@tier3guy

[2022-07-27 04:26] #55 closed

[2022-07-27 04:26] #51 closed

[2022-07-27 04:28] #44 closed

[2022-07-27 05:12] tier3guy opened #57 "Build one search bar in interview prep page"

[2022-07-27 05:16] SushanthReddy-49 commented on #57
I can work on this but can you provide more input on what the Search Bar does?

[2022-07-27 05:17] tushar-glitch opened #58 "Fixing typos"
I see some typos on the website. Please assign me this issue so that I can fix all of them.

[2022-07-27 05:21] tier3guy commented on #57
search bar is find the a particular keyboard in the whole page -- suppose in that page I am searching for the word resume building then I dont need to go the whole the page of the site, I will simply search the key resume building and onpressing enter the search bar will redirect the user to that pariticular section.

for more example refer this page - https://chakra-ui.com/

in this page the top

[2022-07-27 05:23] tier3guy commented on #58
Go with it.

[2022-07-27 05:27] SushanthReddy-49 commented on #57
Ok. I will take the reference and complete it.

[2022-07-27 05:40] tushar-glitch commented on #58
I have fixed the typos :) You can merge them after reviewing.

[2022-07-27 09:18] jklagrosa opened #61 "1. Show menu at 991px instead of 700px | 2. Add overflow-x: hidden"
# BEFORE
![image](https://user-images.githubusercontent.com/104843990/181212094-f1bf428b-cd1e-408c-90ba-498c5e0925e1.png)

- Menu shows at 700px

# AFTER
![image](https://user-images.githubusercontent.com/104843990/181211918-2ed58858-a297-46b7-af72-888711cc2bdd.png)

[2022-07-27 09:26] jklagrosa commented on #61
I`m already working on it.

[2022-07-27 10:29] tier3guy commented on #61
Great job ||

[2022-07-27 12:03] jklagrosa commented on #61
It`s already in pull request.

[2022-07-27 17:30] Himanshu-370 commented on #17
hey @DPR-4  can you please assign me this work and also put a link to the bug?

[2022-07-28 04:37] tier3guy opened #64 "Build Currated DSA topics page"
This will be similar to CS fundamentals one but here all the curated topics of DSA like (DP, recursion, backtracking, binary search will be listed along with the learning resources and notes.)

[2022-07-28 06:17] zeeshan8281 commented on #25
Should it be like an ide which compiles and runs multiple languages just like CodeChef? or should it be like an in-build web dev code editor which executes the HTML, CSS and other such files?

[2022-07-28 11:21] tier3guy commented on #25
Codechef one !!

[2022-07-28 12:42] zeeshan8281 commented on #25
ok can you assign me this under SSOC

[2022-07-28 13:14] tier3guy commented on #25
Go for it

[2022-07-28 13:39] tier3guy opened #65 "Build the basic UI in all the development sub-pages"
development-sub-pages means - web, android, machine learning etc. pages.
Basic UI means - header, footer, Intro's

[2022-07-28 13:42] tier3guy opened #66 "Fix the footer all the pages - make it to the center"
![image](https://user-images.githubusercontent.com/73595465/181519849-4cff5a65-8543-4fe2-9dce-c556403c2bfb.png)

The footer is not in the middle

[2022-07-28 13:43] tier3guy opened #67 "Make development page responsive"
URL to test - https://acadmica.social/src/pages/development/main.html

Check the page on different media devices scales and make it responsives accordingly.

[2022-07-28 13:45] tier3guy opened #68 "Create different different pages for each stream in the acadmics section."
Like in the development section we have separate pages for each domain (web, android, etc) create separate pages for each stream.

[2022-07-28 13:48] SushanthReddy-49 commented on #66
By footer do you mean the 2022@cademia Inc ?
I can fix that.
@tier3guy

[2022-07-28 13:48] tier3guy opened #69 "Footer in the acadmics page - fix it"
URL - https://acadmica.social/src/pages/academics/main.html

Also make the page responsive for different different devices

[2022-07-28 13:49] tier3guy commented on #66
The footer is not in the center !!

[2022-07-28 13:50] tier3guy commented on #66
URL - https://acadmica.social/src/pages/development/main.html

[2022-07-28 13:54] khan-mujeeb commented on #68
I would like to work on this issue

[2022-07-28 13:56] tier3guy opened #70 "Navbar is not visible in - interview prep page"
URL - https://acadmica.social/src/pages/interviewPrep/main.html

also in the responsive navbar - add github and subscribe us button

[2022-07-28 13:57] tier3guy commented on #68
@khan-mujeeb Please go with this.

[2022-07-28 14:10] SushanthReddy-49 commented on #66
I will fix this. Assign this to me
@tier3guy

[2022-07-28 14:13] SushanthReddy-49 commented on #70
I will work on this. Assign this to me.

[2022-07-28 16:22] #70 closed

[2022-07-30 05:29] Aman-Singh-Kushwaha commented on #40
@tier3guy please add SSoC2022 tag on this issue too, so that it can be considered

[2022-07-31 06:32] Harsh3363 opened #72 "Better interface for discord button"
Hii
The button Discord next to join study room will look good if we add some hover effect.

[2022-07-31 06:33] Harsh3363 commented on #72
@tier3guy please assign this to me
I have made some changes it would look something like this on hover:

![Screenshot (89)](https://user-images.githubusercontent.com/72756692/182013362-3adcf939-0853-40f0-92e5-b57247b9f842.png)

[2022-07-31 09:21] KHUSHI-SANGAL commented on #4
Can I work on this issue?

[2022-07-31 18:22] vaibhavchaubey commented on #67
I would like to work on this issue.

[2022-07-31 18:26] vaibhavchaubey commented on #65
I would like to work on this issue. Please assign it to me @tier3guy

[2022-07-31 18:29] vaibhavchaubey commented on #64
I would like to work on this issue. Please assign it to me @tier3guy .
I have very good knowledge about DSA and also doing DSA for a long. So I can make a page for all the curated topics of DSA.

[2022-07-31 18:38] vaibhavchaubey commented on #67
Thanks for assigning 😊

[2022-07-31 18:38] vaibhavchaubey commented on #64
Thanks for assigning 😊

[2022-07-31 18:39] vaibhavchaubey commented on #65
Thanks for assigning 😊

[2022-07-31 18:59] vaibhavchaubey commented on #64
@tier3guy As there are pages for Academics, Development and Interview Preparation. Like that, do I have to make a separate page for Curated DSA topics?

[2022-08-01 03:12] tier3guy commented on #64
Exactly what you are thinking!!!

[2022-08-01 12:18] Himanshu-370 commented on #17
Hey @tier3guy, I pulled a request for this issue
Kindly look into it.

[2022-08-01 12:22] Himanshu-370 commented on #4
@tier3guy  I can create a login page using Firebase
but I would need firebase code from your account in firebase

[2022-08-01 13:30] tier3guy commented on #4
@Himanshu-370 there is folder firebase in the root directory in that folder there is a JS file, in that you can get all the necessary credentials you want !!

[2022-08-01 15:54] Himanshu-370 commented on #4
@tier3guy  Cool!, Please assign me this issue

[2022-08-01 16:26] Himanshu-370 commented on #72
@tier3guy Hey I did some minor changes too like the **buttons** and **hover effects.**

![1](https://user-images.githubusercontent.com/96609252/182197481-c66927a1-d0d3-4f03-b8b5-f7a389c0df24.png)
![image](https://user-images.githubusercontent.com/96609252/182197568-c2474c96-ac8e-4286-8b9a-3c536d1ccf08.png)

[2022-08-02 01:47] tier3guy commented on #4
Contribution will start from tomorrow so I will assign it to you once the contribution gets started

[2022-08-02 02:51] tier3guy commented on #72
Hover is good, but keep the button style as of the previous one.

[2022-08-02 04:00] Harsh3363 commented on #72
Sure 👍

[2022-08-02 12:40] Aman-Singh-Kushwaha commented on #68
I too would like to collaborate,
as  I have also selected this project on SSoC form

[2022-08-02 12:48] Aman-Singh-Kushwaha opened #73 "Improvement on 'Contact Us' Buttons"
@tier3guy I can improve UX by improving contact us buttons and adding Some Hover Effect

[2022-08-02 12:50] Aman-Singh-Kushwaha commented on #73
Please assign this work to  me
![image](https://user-images.githubusercontent.com/96011814/182378854-bd6c84d1-0caf-470c-b528-25e1773b1b67.png)

[2022-08-02 12:56] Aman-Singh-Kushwaha commented on #73
Also the mail id hover color can be changed to match UI

[2022-08-03 07:12] Anubhavgupta14 opened #74 "Improve Academics section UI"
Improve the Academics section UI, spelling of the Scroll is wrong on the website, it should be correct.

[2022-08-03 07:13] Anubhavgupta14 opened #75 "Adding Favicon."
Adding Favicon.

[2022-08-03 07:15] Anubhavgupta14 opened #76 "Improving Responsiveness of Acedemics page."
Improving Responsiveness of Acedemics page.

[2022-08-03 07:18] Anubhavgupta14 opened #77 "Work on web.html page under Development page."
Work on web.html page under Development page.

[2022-08-04 05:07] vaibhavsharma1234 commented on #76
I would like to work on this project
In improving the responsive ness
Can u assign it to me
I am a ssoc participant

[2022-08-04 05:48] Anshitseth commented on #76
I would like to work on this issue and make the Academics page  more responsive.

[2022-08-04 08:06] Anshitseth opened #80 "About Section"
wants to add carousal and make more efforts in styling the section.
will use bootstrap

[2022-08-04 10:32] Himanshu-370 commented on #77
What work are you looking for?
@tier3guy

[2022-08-04 10:36] vaibhavsharma1234 opened #81 "i want to add a nice hover effect to the images on main page kindly assign it to me"

[2022-08-04 10:41] vaibhavsharma1234 commented on #68
i would like to work on this
i am a ssoc participant please assign it to me

[2022-08-04 10:47] vaibhavsharma1234 commented on #22
if possible assign it to me if other person is not able to do

[2022-08-04 10:57] vaibhavsharma1234 opened #82 "i want to improve responsive ness of the main page"

[2022-08-04 11:54] Prahmodh-R opened #83 "Add resources for the blockchain section under the development section of the website"
I would like to add curated and free resources on the internet for blockchain development mentioned under the development section of the website

[2022-08-04 16:11] Kirankp25 opened #84 "To Improve UI(how acadmica works)"
I would like to improve the UI of a page (HOW ACADEMICA WORKS)which is attached given below and add frames to given images to be visible clearly. so assign me this issue.

![Screenshot (209)](https://user-images.githubusercontent.com/87818185/182895388-116e4b64-3167-438f-b096-f2f1704dc145.png)

[2022-08-04 16:31] myhacktech commented on #84
@Kirankp25 i am assigned this issue to you ,it would be better if you send screenshots of your better version before creating a PULL request.

[2022-08-04 16:45] Kirankp25 commented on #84
ya sure

[2022-08-04 17:09] Anjuli08 opened #85 "Improve UI on the home page"
The **content** is not very well aligned with the **Image**, So i would like to align it.
Also **Join Study Room** button styling is not appropriate. So i want to edit it and the **discord button** also!!
![home academica](https://user-images.githubusercontent.com/90701800/182909488-93be97a6-eb6c-48ed-93f8-566d3ed35d4e.png)

[2022-08-04 17:21] narayan954 commented on #83
@Prahmodh-R I have assigned this issue to you , happy contributing :)

[2022-08-04 18:34] fykaa commented on #48
@tier3guy What has to be done for this issue, please address me, so I'll work into this.

[2022-08-04 18:49] narayan954 commented on #85
@Anjuli08 I am assigning this issue to you ,it would be better if you send screenshots of your better version before creating a PULL request. Happy Contributing.

[2022-08-04 20:28] dilpreet102 opened #86 "Night Mode Effect Switch , CSS Buttons , Text Layout , Faq Section Buttons"
1) I want to change the CSS buttons of all three sections.
2) Text is alligned centre which is not suitable for reading under 'How Acadmica works' section.
3) CSS Buttons layout of FAQ section can be changed.
4) Night Mode Effect Switch can be added on the website.

[2022-08-04 21:25] souravbhunia07 commented on #80
Heyy can I implement this functionality. please assign it to me.

[2022-08-05 03:06] Himanshu-370 commented on #86
Assign me this issue

[2022-08-05 03:53] Anjuli08 commented on #85
Yeah sure! Thankyou

[2022-08-05 05:10] tier3guy commented on #86
@Himanshu-370 @dilpreet102,

Dilpreet has raised the issue, so we cannot allocate randomly but if you guys are willing to  collab with each other, that would be great.

Otherwise we will be assigning it to dilpreet only.

Talk to him if he is willing to collab, then we can assign it to you also.

[2022-08-05 05:14] Himanshu-370 commented on #86
No problem go ahead @dilpreet102 !!

[2022-08-05 05:25] myhacktech commented on #82
@vaibhavsharma1234 describe it along with screenshot and link

[2022-08-05 05:48] vaibhavsharma1234 commented on #82
![p1](https://user-images.githubusercontent.com/96341386/183009921-67fbad79-8c64-47df-8f5f-cd570d33ca11.png)
resposive ness is good in mobile and pc but its not in tablet mode
like shown in picture

[2022-08-05 05:56] tier3guy commented on #68
Assignment will on the first come first serve basis. If you @Aman-Singh-Kushwaha @vaibhavsharma1234  guys wants to collab you can !!

[2022-08-05 05:57] tier3guy commented on #68
For now I have assigned it to @Aman-Singh-Kushwaha

[2022-08-05 05:59] myhacktech commented on #73
@Aman-Singh-Kushwaha i am assigning this issue to you,reply if you are still interested

[2022-08-05 09:14] dilpreet102 commented on #86
Thanks for assigning me the issue. Is there a deadline for submitting the issue?

[2022-08-05 09:54] tier3guy commented on #86
Generally we dont give any deadlines but for this particular program we had set a deadline of 3 days. If there will be not contribution found after 3 days from the date of assignment, your assignment will be cancelled and the new candidates will get the issue.

[2022-08-05 09:57] tier3guy commented on #77
This issue has been raised by @Anubhavgupta14 !!

[2022-08-05 10:00] tier3guy commented on #76
Issue assignment is on first come, first serve basis. But if the participant is found to be inactive they we will assign it to guys. But for this time I have to assign it to @Anubhavgupta14

[2022-08-05 10:26] dilpreet102 commented on #86
Ok thanks.

[2022-08-05 12:24] Aman-Singh-Kushwaha commented on #40
Hey @tier3guy, I have **completed** it and raised  PR #87  please check it out and review it

[2022-08-05 13:24] Anjuli08 commented on #85
Please review this. I have adjusted the **image** with the leftmost content and tried to improve the styling of **join** study button. it would look more better if the **subscribe button** is also changed like this as well. for the **discord** button I have added this shade as a **hover** effect!

![acad](https://user-images.githubusercontent.com/90701800/183086234-effc8dce-48e4-47ee-b313-6c4dde85

[2022-08-05 14:25] tier3guy commented on #85
Good Job, go ahead with the subscribe us button

[2022-08-05 17:47] Himanshu-370 opened #88 "Same nav menu added many times"
![image](https://user-images.githubusercontent.com/96609252/183132584-0bc627ab-f53c-4b4d-b040-160603236200.png)

[2022-08-05 18:00] Anubhavgupta14 commented on #76
Ok, started working on it.

[2022-08-05 18:02] Anubhavgupta14 commented on #75
Thank you @tier3guy for assigning me for this issue.

[2022-08-05 18:03] Anubhavgupta14 commented on #77
Thank you for assigning me this issue.

[2022-08-05 18:26] narayan954 commented on #58
Issue's been resolved! GG

[2022-08-05 18:26] #58 closed

[2022-08-05 20:38] narayan954 commented on #40
closing this issue as it has been resolved by @Aman-Singh-Kushwaha

[2022-08-05 20:38] #40 closed

[2022-08-05 20:43] narayan954 commented on #18
Issue was resolved , so closing this.

[2022-08-05 20:43] #18 closed

[2022-08-05 20:45] narayan954 commented on #20
Closing this as completed.

[2022-08-05 20:45] #20 closed

[2022-08-05 20:52] narayan954 commented on #53
Closing this as resolved

[2022-08-05 20:52] #53 closed

[2022-08-05 20:53] narayan954 commented on #56
closing this as resolved now

[2022-08-05 20:53] #56 closed

[2022-08-05 21:03] narayan954 commented on #61
Marking this as completed now

[2022-08-05 21:03] #61 closed

[2022-08-05 21:09] narayan954 commented on #66
Closing this as completed now

[2022-08-05 21:09] #66 closed

[2022-08-05 21:16] narayan954 commented on #72
Closing this as completed

[2022-08-05 21:16] #72 closed

[2022-08-05 21:23] narayan954 commented on #75
Closing this as its duplicate to #40  and it has been resolved.

[2022-08-05 21:23] #75 closed

[2022-08-05 21:56] narayan954 commented on #88
@Himanshu-370  I have assigned this issue to you.

[2022-08-05 22:11] dilpreet102 commented on #86
![After Adding Buttons](https://user-images.githubusercontent.com/83696202/183218053-ea97f484-2d0e-4743-968f-ee94ebdc9b38.PNG)
![After adding CSS](https://user-images.githubusercontent.com/83696202/183218058-07872031-504e-4eb2-b0c1-bde98f6bcd7f.PNG)
![Before Adding Buttons](https://user-images.githubusercontent.com/83696202/183218062-7683a325-6efc-47df-a48c-da44ceb8bffc.PNG)
![Interview Section Af

[2022-08-05 22:13] dilpreet102 commented on #86
Till Now I have made these changes. Let me know If you are finding these good or not?

[2022-08-05 22:14] dilpreet102 commented on #86
![image](https://user-images.githubusercontent.com/83696202/183218281-1a1a2e58-bff4-47a2-9af2-e8c18f49090f.png)

[2022-08-05 22:14] dilpreet102 commented on #86
If you have content for this portion then plese send me .

[2022-08-05 22:15] dilpreet102 commented on #86
On FAQ and Night Mode effect I am still working .

[2022-08-06 04:06] tier3guy commented on #86
@dilpreet102 take reference from #85 for the button design.

[2022-08-06 04:14] tier3guy opened #90 "Problem of the day"
At the top of the page, add *Problem of the day section* it will be like a thin nav kind of thing in which everyday a new problem link (from leetcode or gfg ) will appear to practice.

Make this section removable. Like the user can cut the section and hide it up.

References:
![image](https://user-images.githubusercontent.com/73595465/183233115-b444fb86-ab22-4d14-8828-fb7948e82be3.png)

In, this r

[2022-08-06 04:26] SushanthReddy-49 commented on #90
Assign this to me.. I will work on it.
@tier3guy

[2022-08-06 04:30] tier3guy commented on #90
@SushanthReddy-49 Go for it !!

[2022-08-06 04:34] tier3guy opened #91 "Documentation"
Create attractive and approachable readme file.
The readme file will include :
- name
- mission
- links (linkedin, buymecoffee, twitter, helpline mail, discord)
- folder structure
- how to contribute
- credits to contributors
- sponsorship

Try to make it attractive.

[2022-08-06 05:32] vaibhavsharma1234 commented on #82
what level of issue tag is on this ?

[2022-08-06 07:26] narayan954 commented on #80
@Anshitseth I have assigned this issue to you ,it would be better if you send screenshots of your better version before creating a PULL request.

[2022-08-06 07:29] narayan954 commented on #80
@souravbhunia07 issues are assigned first come first serve. If @Anshitseth couldn't solve it within 3-5 days, you may have it :)

[2022-08-06 07:29] Anshitseth commented on #91
I want to try

[2022-08-06 07:31] Anshitseth commented on #80
Ok Sent from Mail for Windows From: Narayan soniSent: Saturday, August 6, 2022 12:57 PMTo: tier3guy/AcadmicaCc: AnshitSeth02; MentionSubject: Re: [tier3guy/Acadmica] About Section (Issue ***@***.*** I have assigned this issue to you ,it would be better if you send screenshots of your better version before creating a PULL request.—Reply to this email directly, view it on GitHub, or unsubscribe.You

[2022-08-06 07:34] narayan954 commented on #81
issue #17 already mentions this

[2022-08-06 07:34] #81 closed

[2022-08-06 10:38] dilpreet102 commented on #86
if you want to collab then ok. No problem.....

[2022-08-06 10:44] dilpreet102 commented on #85
@Anjuli08 I am designing the buttons below the three sections. So tell me how much value you have given to border radius??

[2022-08-06 10:46] dilpreet102 commented on #85
2 or 3 px?

[2022-08-06 10:50] dilpreet102 commented on #85
![image](https://user-images.githubusercontent.com/83696202/183245753-4eabe6a9-ecca-47ac-976d-0d056ab70ffb.png)
@tier3guy now ok?
It would be great if anjuli will add shadow below the buttons as I did...

[2022-08-06 10:53] dilpreet102 commented on #86
![image](https://user-images.githubusercontent.com/83696202/183245889-f27b11de-e2ea-4b19-9521-501c34a56ccf.png)
I have made FAQ section like this, when we hover on that it changes colour and the text also moves.

[2022-08-06 11:04] dilpreet102 commented on #86
https://user-images.githubusercontent.com/83696202/183246244-b494ad06-cd99-4c30-94a5-cae53169eadb.mp4

I have made these changes in FAQ section.

[2022-08-06 12:46] vaibhavchaubey commented on #67
@tier3guy I have made the PR please check it out.

[2022-08-06 13:12] Anjuli08 commented on #85
5px

[2022-08-06 13:14] Anjuli08 commented on #85
ok sure! can you tell me values you have added for this??

[2022-08-06 13:27] Ashish4321-hub opened #93 "Improve study room section"
Images are not properly aligned in study room section .
![Screenshot_2022-08-06-18-53-26-61_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/88235823/183250914-6b1135b0-0a32-44c8-843f-69cb03aa3b22.jpg)
 I am ssoc contributor and I want to slove this issue by using div class .

[2022-08-06 16:00] tier3guy commented on #86
Great Work

[2022-08-06 16:47] dilpreet102 commented on #85
box-shadow: #5e5df0 0 10px 20px -10px;
@Anjuli08

[2022-08-06 16:47] dilpreet102 commented on #85
okkk

[2022-08-06 17:00] dilpreet102 commented on #86
![image](https://user-images.githubusercontent.com/83696202/183258724-a93254ea-9d6c-46a6-bef5-7d927bf513d3.png)
Before

[2022-08-06 17:01] dilpreet102 commented on #86
![image](https://user-images.githubusercontent.com/83696202/183258739-92f747a7-afc8-4e82-97ef-03098abacc84.png)
After

[2022-08-06 17:08] dilpreet102 commented on #86
Now only I left with the Night Mode switch , rest I have done my work . Let me know If any changes you want .
Earlier you were not satisified with the buttons so I have changed according the #85 .
Also I have changed the color of icons in the Acedemics and Development section which earlier I was not liking them.

[2022-08-06 17:51] dilpreet102 commented on #86
If you want then I can make pull request for the above work. And for the night mode effect can you give me time till monday night, but I will try my best  to complete the task done by monday morning.

[2022-08-06 18:21] narayan954 commented on #88
marking as completed

[2022-08-06 18:21] #88 closed

[2022-08-06 19:17] Aman-Singh-Kushwaha commented on #73
Hey I have submitted PR #96
please review my work

[2022-08-07 01:44] myhacktech commented on #73
great

[2022-08-07 03:58] tier3guy opened #97 "Documentation in https://acadmica.social/src/pages/interviewPrep/main.html"
Add content
URL - https://acadmica.social/src/pages/interviewPrep/main.html
![image](https://user-images.githubusercontent.com/73595465/183274575-847c4f08-0a4c-49f0-8006-7c651ada1561.png)

[2022-08-07 06:18] Aman-Singh-Kushwaha opened #98 "Bug in Responsiveness in Tablet view in Home"
The most **focused** heading _**Acadmica**_ goes inside the photo

![image](https://user-images.githubusercontent.com/96011814/183277904-0233254e-10d2-43ab-86e7-8a67b7601477.png)

[2022-08-07 06:19] Aman-Singh-Kushwaha commented on #97
I can work on this

[2022-08-07 06:24] Aman-Singh-Kushwaha commented on #73
Thanks, Mentors and Project Maintainers

Now we can close this issue

[2022-08-07 06:24] #73 closed

[2022-08-07 07:51] athulmekkoth commented on #97
can I work on this?

[2022-08-07 08:03] narayan954 commented on #97
@Aman-Singh-Kushwaha sure , go ahead

[2022-08-07 08:04] narayan954 commented on #97
sorry @athulmekkoth , he claimed this issue earlier.

[2022-08-07 08:09] narayan954 commented on #22
@vaibhavsharma1234 are you still available to be assigned?

[2022-08-07 08:20] athulmekkoth commented on #97
ok no problem

[2022-08-07 08:37] vaibhavsharma1234 commented on #22
Ya ofcourse why not

[2022-08-07 09:00] narayan954 commented on #22
go for it!

[2022-08-07 09:41] narayan954 commented on #98
would you like to work on this?

[2022-08-07 09:42] Aman-Singh-Kushwaha commented on #98
Yes @narayan954

[2022-08-07 09:43] narayan954 commented on #98
Sure , go ahead!

[2022-08-07 11:30] tier3guy commented on #86
Go ahead.

[2022-08-07 13:18] SushanthReddy-49 opened #100 "Bug in the FAQ's section."
![image](https://user-images.githubusercontent.com/73791994/183292594-93e06ffa-b9cf-4a1d-a771-d2b8f62f7681.png)
The CSS is not right here. I would like to work on this. Assign this to me.

[2022-08-07 13:18] SushanthReddy-49 commented on #100
@tier3guy

[2022-08-07 16:02] 11WALTER11 opened #102 "I want to improve current Footer"
I want to fix the current footer, which appears disorganised and unfriendly to users.

![fo](https://user-images.githubusercontent.com/81313264/183299784-6d28483a-2853-43ce-8009-4472199e1d80.png)

[2022-08-07 18:45] vaibhavsharma1234 commented on #82
this issue is completed close it

[2022-08-08 08:02] kanishak11-cyber opened #104 "Improvement in resources section"
![image](https://user-images.githubusercontent.com/84625838/183369273-40dfa74a-7387-4a57-a7eb-5e95d41ed28b.png)
https://acadmica.social/src/pages/academics/csit.html
IN this  section there is Issues in the Boxes css and more data need to be updated , I want to work on it pl. assigned to me

[2022-08-08 08:55] #82 closed

[2022-08-08 10:24] vaibhavsharma1234 commented on #22
update - i have implemented the theme switcher on main page for now
one issue i am facing is that its working on desktop screen and not in mobile and tablet
that i am trying to figure out

[2022-08-08 11:51] jklagrosa opened #106 "Too much padding and overlapping text in small breakpoints."
#### Always double-check that the changes are also applicable to small devices/breakpoints.

#

![image](https://user-images.githubusercontent.com/104843990/183411361-7839f8ef-bc22-4ff9-8ac3-935ef34792a3.png)

![image](https://user-images.githubusercontent.com/104843990/183411180-9e95b6be-79b3-4a8d-aaef-3bc2a7571248.png)

[2022-08-08 16:01] tier3guy commented on #22
Share SS

[2022-08-08 16:39] vaibhavsharma1234 commented on #22
https://github.com/tier3guy/Acadmica/pull/107
Ss is here
The issue of Mobile is resolved

[2022-08-08 17:36] fykaa commented on #106
Hi, I want to work on this, assign this to me.
I will work towards making this section responsive, as I see the content doesn't flows freely across all screen resolutions and sizes and renders it to not look great on all devices.
@tier3guy
Name: Fyka
SSOC'22 Participant

[2022-08-08 17:39] fykaa commented on #106
Hey, @jklagrosa Would you please tell us about the dimensions of your device, so it gets easier to recheck on that resolution?

[2022-08-08 17:50] fykaa opened #108 "Multiple MISSPELLINGS on the main content"
Issue - When I checked the website, I discovered that there were numerous misspellings throughout the content, as well as grammatical and daft errors. I'm eager to address all of them because the content is such an important part of a website's SEO, which can detract readers and customers while also creating backlash for inaccurate writings!

@tier3guy  Please assign me this issue since I'm lookin

[2022-08-08 17:53] fykaa commented on #108
![Screenshot (685)](https://user-images.githubusercontent.com/97490463/183482142-92d513b8-c195-4605-9544-4ab9e4250e99.png)

For example

[2022-08-08 21:38] Divesh2003 opened #109 "Update the main page of website more creative and add transitions."

[2022-08-09 05:01] jklagrosa commented on #106
It is the standard browser dimension for small devices, which is 320 x 570.

[2022-08-09 08:53] tier3guy commented on #108
Good Job @fykaa. Go for it.

[2022-08-09 08:54] tier3guy commented on #109
@Divesh2003 for now we can keep the home page as it is, lets focus on getting submissions on responsive code.

[2022-08-09 08:54] #109 closed

[2022-08-09 08:55] tier3guy commented on #106
Issue is fixed on the latest merges.

[2022-08-09 08:55] #106 closed

[2022-08-09 08:58] tier3guy opened #110 "Study Room Responsiveness."
URL : https://acadmica.social/public/studyroom.html
BUG :
![image](https://user-images.githubusercontent.com/73595465/183608496-f31d8c07-e427-4d94-b329-b81000cc6678.png)

Demand : make the hero-section responsive.

[2022-08-09 09:00] tier3guy commented on #102
@11WALTER11 try to write responsive code and please do not change the theme of the org.

[2022-08-09 09:02] tier3guy opened #111 "Development Page - responsiveness"
URL : https://acadmica.social/src/pages/development/main.html
BUG :
![image](https://user-images.githubusercontent.com/73595465/183609337-0b46283e-4a30-430a-910a-ca15637a402f.png)

Demand : fix this issue asap ( on urgent basis )

[2022-08-09 09:05] tier3guy opened #112 "Navbar is not visible in many pages. Add them up"
example : https://acadmica.social/src/pages/development/android.html
img :
![image](https://user-images.githubusercontent.com/73595465/183609998-acaa7c94-0831-4b1d-b231-9327fc4b38c6.png)

[2022-08-09 09:05] SushanthReddy-49 commented on #111
Assign this to me. I will fix it by the EOD.
@tier3guy

[2022-08-09 09:06] SushanthReddy-49 commented on #112
I will work on this along with the Development Page and fix this by the EOD.
@tier3guy

[2022-08-09 09:46] kakkarot0 commented on #110
I want to give it a try

[2022-08-09 11:47] Aman-Singh-Kushwaha commented on #98
I need help with this, Is anyone wants to work on this solo

[2022-08-09 12:09] narayan954 commented on #85
Closing this as completed.

[2022-08-09 12:09] #85 closed

[2022-08-09 12:31] narayan954 commented on #48
@Kamya123 can you please add more info to the issue?

[2022-08-09 13:57] #100 closed

[2022-08-10 14:41] #102 closed

[2022-08-10 17:40] vaibhavsharma1234 opened #119 "I want to do all these issues as PA suggested as I made the theme switcher so it will be convient to do this"
Updates Needed:

By default the theme should be in light mode.
In the Dark Mode, fix hover effect in the discord button. (make the discord icon dark on hover)
In mobile, remove the curve edges in the nav in the light mode.
In mobile, align the hamburger icon to the right.
In dark mode, the scroll bar background should also change to dark.

[2022-08-11 01:47] myhacktech commented on #119
attach link and screenshot u want to work

[2022-08-11 04:53] vaibhavsharma1234 commented on #119
![Screenshot_2022-08-11-10-21-50-488_com android chrome](https://user-images.githubusercontent.com/96341386/184066799-a7014edd-d903-4122-8962-a8b7df86d12f.png)
Theme should be white by default
![Screenshot_2022-08-11-10-22-02-196_com android chrome](https://user-images.githubusercontent.com/96341386/184066809-4c56b03f-ccd7-48f4-a6c5-c9cf486ef383.png
https://acadmica.social/

[2022-08-11 04:57] myhacktech commented on #119
ok go ahead

[2022-08-11 05:00] tushar-glitch opened #120 "Faq +/- toggle button is disturbed"
![Screenshot (234)](https://user-images.githubusercontent.com/67220766/184067372-c695d900-9397-48ef-acc8-41a9678a4e4b.png)
Suppose we click on a question then the + to - effect is working on the next question. Please assign me this issue. I can fix it.

[2022-08-11 05:04] SushanthReddy-49 commented on #120
I believe that is expected... When you open one question all questions are collapsed.. what say @tier3guy

[2022-08-11 05:35] tushar-glitch commented on #120
No, but the question that is currently opened should show the option of '-'.

[2022-08-11 05:36] tier3guy commented on #120
Valid !!!

[2022-08-11 10:02] AnshuPathak-88825 opened #122 "Theme changer not working"

[2022-08-11 10:03] AnshuPathak-88825 commented on #122
pls assign me this is issue

[2022-08-11 10:04] #120 closed

[2022-08-11 10:06] SushanthReddy-49 commented on #122
@AnshuPathak-88825 can you mention in which device it is not working?
It is working fine in my device.

[2022-08-11 10:12] AnshuPathak-88825 commented on #122
in my laptop

[2022-08-11 10:23] kanishak11-cyber commented on #104
![image](https://user-images.githubusercontent.com/84625838/184113660-c3840d86-ab20-4215-a340-7421181af665.png)
bug resolved

[2022-08-11 11:10] vaibhavsharma1234 commented on #122
Mee too
I created it

[2022-08-11 11:27] SushanthReddy-49 commented on #122
Sorry Guys @vaibhavsharma1234 @AnshuPathak-88825  it is working on my Mobile, but not on the Production website. In my local, it is actually working well.
@tier3guy can you take a look into this.

[2022-08-11 11:36] SushanthReddy-49 opened #124 "CSS issue in the Home Page."
![image](https://user-images.githubusercontent.com/73791994/184124819-83133811-b53f-4966-8977-ca337cc8b7b5.png)

The CSS is broke in this page. @tier3guy

[2022-08-11 11:52] vaibhavsharma1234 commented on #122
Someone may have messed the code otherwise there should be no problem

[2022-08-11 13:43] ajayanuragi opened #125 "CSS Issue in development page."
Word "Development" should be a little small so it doesn't get cropped in mobile device.

![Screenshot_2022-08-11-19-07-55-181_com.brave.browser.jpg](https://user-images.githubusercontent.com/92710715/184147074-cd828499-f7e8-47e3-b559-d55680b0034a.jpg)

[2022-08-11 15:50] vaibhavsharma1234 commented on #122
@SushanthReddy-49 bro did u change something if yes
then u can msg me on discord i can help you as i implemented the theme changer

[2022-08-11 16:01] vaibhavsharma1234 commented on #122
https://github.com/tier3guy/Acadmica/issues/119
@AnshuPathak-88825  brother is it ok if i fix this issue as i am doing other issue related to the theme switcher
it will be convient otherwise there may occur issues

[2022-08-11 16:11] vaibhavsharma1234 commented on #122
i have fixed it the problem was that ur js was not working properly
there was no need to change it

[2022-08-11 16:18] vaibhavsharma1234 commented on #122
https://github.com/tier3guy/Acadmica/issues/122

[2022-08-11 16:37] SushanthReddy-49 commented on #122
Hi, Yes I did some changes in the code, by adding icon change code. It is working as expected in my Local.
Share the discord ID. We can connect and talk if anything is necessary.

[2022-08-11 16:41] vaibhavsharma1234 commented on #122
i have solved it
Vaibhav Sharma#2589

[2022-08-11 19:19] narayan954 commented on #122
This issue is already in progress . Please refrain from creating duplicate issues and follow up on original issues only.

[2022-08-11 19:19] #122 closed

[2022-08-12 04:15] vaibhavsharma1234 opened #128 "adding theme switchwer to this https://acadmica.social/src/pages/interviewPrep/main.html"

[2022-08-12 04:15] vaibhavsharma1234 commented on #128
https://acadmica.social/src/pages/interviewPrep/main.html

[2022-08-12 18:58] #77 closed

[2022-08-13 10:21] ArunaAT opened #130 "Website's background color"
I would like to change the background colour of the  main page, which is grey at the moment, I can add colour gradient to it.

[2022-08-13 19:06] narayan954 commented on #108
marking this as completed in pr #131

[2022-08-13 19:06] #108 closed

[2022-08-14 06:26] kanishak11-cyber opened #132 "pages missing of electroninc, mechanical, civil and electronic"
![image](https://user-images.githubusercontent.com/84625838/184525253-f7e76370-e682-4c59-ae5d-5c2626207cbb.png)

I want to wok on the pages pl. assign to me

[2022-08-14 09:18] narayan954 commented on #128
Great, go ahead and please share screenshots with the pull request

[2022-08-14 09:21] narayan954 commented on #80
@Anshitseth please update your status

[2022-08-14 18:46] mayank2002-jpg commented on #98
hey! @Aman-Singh-Kushwaha I would like to work on this issue. But want to know the reason why are you leaving this issue. As you already get this one.

[2022-08-15 16:53] narayan954 opened #134 "Add content to electrical, mechanical, civil and electronics pages"
Electrical, mechanical, civil and electronics pages are missing content , try to add it

[2022-08-15 17:00] vaibhavsharma1234 commented on #22
This is completed

[2022-08-15 17:01] narayan954 commented on #22
Thanks for the reminder :) @vaibhavsharma1234

[2022-08-15 17:01] #22 closed

[2022-08-15 17:03] narayan954 commented on #48
closing this as unexplained

[2022-08-15 17:03] #48 closed

[2022-08-15 17:32] #104 closed

[2022-08-15 18:39] VaibhavSinghDev opened #135 "Add Setup guidelines and Contribution guidelines in the readme file"
Readme file should consist of the steps to clone and set up the repository and set up the project for beginners to start contributing.

[2022-08-15 19:12] narayan954 commented on #135
Great idea!, you can work on this. :)

[2022-08-15 19:16] narayan954 commented on #97
@Aman-Singh-Kushwaha are you still working on this?

[2022-08-16 06:20] VaibhavSinghDev commented on #135
Thanks! I will start working on it

[2022-08-16 12:31] mayank2002-jpg commented on #98
Hey! @narayan954 can I work on this?

[2022-08-16 18:44] narayan954 commented on #98
@mayank2002-jpg  yes sure you can!!

[2022-08-16 18:45] narayan954 commented on #86
closing this as completed now

[2022-08-16 18:45] #86 closed

[2022-08-16 20:47] fykaa opened #137 "Need A fix for Color Coordination and Transient Effects to some buttons"
I'd like to fix and improve the colour design and hovering features on several buttons of the main page.

The text ain't visible in the below hovering feature
![Screenshot (710)](https://user-images.githubusercontent.com/97490463/184981774-f5350ac7-3a54-41a0-b7f5-b39ee90b4b78.png)
Improving this -
![Screenshot (711)](https://user-images.githubusercontent.com/97490463/184981838-e04f2c26-5629-44ab-9

[2022-08-16 20:49] fykaa commented on #137
Assign me this . SSOC Participant

[2022-08-17 03:44] Aman-Singh-Kushwaha commented on #97
@narayan954  Yes sir ,
I apologise for late work due personal factors

[2022-08-17 03:45] mayank2002-jpg commented on #98
Thanks! For assigning to me☺

[2022-08-17 05:21] narayan954 commented on #97
it's ok , take your time :)

[2022-08-17 07:40] Aman-Singh-Kushwaha commented on #98
yes mayank you can work on this, i have also reported for help in the discord group,
May be you have to restructure media queries for tablet mode on page landing section . All the Best👍

[2022-08-17 07:42] DPR-4 commented on #17
ok you can proceed. sorry to be reply late I was busy

[2022-08-17 16:55] mayank2002-jpg commented on #98
ok thanks @Aman-Singh-Kushwaha for briefing me about the issue

[2022-08-19 06:57] mayank2002-jpg commented on #98
I have completed this and got merged it into the main code. So kindly remove this issue.

[2022-08-19 07:01] #98 closed

[2022-08-21 05:51] ganesh-utla commented on #110
I would like to fix this issue.

[2022-08-21 07:05] myhacktech commented on #110
@kakkarot0 are u working on this ???

[2022-08-21 10:16] ganesh-utla commented on #110
@myhacktech Do I've to start working on it or find the another issue?

[2022-08-21 10:44] myhacktech commented on #110
look for some other issue,this one is already assigned

[2022-08-21 13:35] ganesh-utla opened #140 "Home Page Responsiveness"

[2022-08-21 13:37] ganesh-utla commented on #140
I would like to work on the responsiveness of the Home Page...
@myhacktech Can you assign it to me..
![Screenshot_20220821_190514](https://user-images.githubusercontent.com/87692393/185793558-6090fdd9-597c-4208-99e4-8499b74d98d4.jpg)

[2022-08-22 18:18] akashthedeveloper commented on #97
@narayan954 please assign me this issue would be happy to contribute to it.

[2022-08-22 18:21] akashthedeveloper commented on #91
@tier3guy please assign me this issue would love to contribute it

[2022-08-22 19:47] Aman-Singh-Kushwaha commented on #97
@akashthedeveloper  I am half done on this issue but stucked due to exams, _give me some time_.
I will do it if you really wanna do  something you can work on #68  I will unassign it if you **reply**

[2022-08-23 06:05] #135 closed

[2022-08-24 01:30] myhacktech commented on #110
@ganesh-utla this is already assigned

[2022-08-24 01:50] ganesh-utla commented on #110
@myhacktech Yeah, I worked on another issue!

[2022-08-24 02:23] myhacktech commented on #110
Ok 👍

[2022-08-24 14:03] #140 closed

[2022-08-24 16:26] narayan954 commented on #135
sorry @VaibhavSinghDev but I can't confirm this as completed. Can you please mention the pr raised for this issue?

[2022-08-24 17:20] VaibhavSinghDev commented on #135
Did you get the PR already? @narayan954

[2022-08-24 17:21] narayan954 commented on #135
yes I did , thank you for your contribution!

[2022-08-25 10:27] 29Aastha opened #142 "improve the UI of all buttons"
-adding hover effect
-changing UI

[2022-08-25 12:10] narayan954 commented on #142
Great, go ahead and please share screenshots with the pull request

[2022-08-26 04:26] Anshitseth commented on #80
I was not well .
Will work on it.

[2022-08-27 11:48] ganesh-utla opened #144 "Modifying the font-colors"
Need a fix to font-color, as it isn't visible enough to read in dark theme!!
![image](https://user-images.githubusercontent.com/87692393/187026898-3b55d2dc-8951-4871-b0ae-c0d5179964f1.png)
![image](https://user-images.githubusercontent.com/87692393/187028709-e8955a07-6579-4345-8e3d-d767a7dea317.png)
![image](https://user-images.githubusercontent.com/87692393/187028751-69d11a9e-0321-47d4-a7c7-89649

[2022-08-27 20:35] Kirankp25 commented on #84
These are changes made by me if you have any suggestions put here I will work on it
#84
![Screenshot (219)](https://user-images.githubusercontent.com/87818185/187047049-d38c1691-cefb-4224-9f32-68c428613ae5.png)

[2022-08-28 02:03] myhacktech commented on #84
@tier3guy

[2022-08-28 03:51] tier3guy commented on #84
@myhacktech @Kirankp25 I think this is good and we can merge it.

[2022-08-28 04:40] Kirankp25 commented on #84
ok

[2022-08-28 05:39] Kirankp25 commented on #84
so pls merge it
https://github.com/tier3guy/Acadmica/pull/145

[2022-08-28 05:58] Kirankp25 opened #146 "To update footer (background and position of text)"
I would like to change its footer bcoz it's background color and text color is not contrast to clear vision

![Screenshot (220)](https://user-images.githubusercontent.com/87818185/187059888-512e0583-7ffd-4ea1-9456-714555baa3b7.png)

[2022-08-28 17:47] narayan954 commented on #80
ohhh , its ok ,take your time :)

[2022-08-28 18:34] narayan954 commented on #144
Go on!! :)

[2022-08-29 18:04] Anubhavgupta14 opened #148 "Work on Dark Mode in Interview Section"
Work on Dark Mode in Interview Section
![dark](https://user-images.githubusercontent.com/97956667/187268265-0da8d4d2-27b0-49e9-af5c-b0701b9f2651.jpg)

[2022-08-29 18:05] Anubhavgupta14 opened #149 "Add Documentation at Interview Section"
Add Documentation at Interview Section
![doc](https://user-images.githubusercontent.com/97956667/187268459-675ea549-0a0a-4244-ac30-aca64fcaecb0.jpg)

[2022-08-29 18:06] Anubhavgupta14 opened #150 "Attaching Video Lectures in Interview Section."
Attaching Video Lectures in Interview Section.
![video](https://user-images.githubusercontent.com/97956667/187268713-d03d6656-0e39-4896-bcbf-e225175d0ad6.jpg)

[2022-08-29 18:06] Anubhavgupta14 commented on #150
@tier3guy

[2022-08-30 13:24] Kirankp25 opened #151 "To Update Ui(images and its background)"
I would like to add one image which will really correlate with the topic which you are delivering to students it will help them to catch the concept easily by this image and also want to change some UI  related changes
![Screenshot (221)](https://user-images.githubusercontent.com/87818185/187447941-2d70aa4c-9abf-44f6-bbdc-0293591284f7.png)

[2022-08-31 17:41] narayan954 commented on #144
marking this as completed with #153

[2022-08-31 17:41] #144 closed

[2022-08-31 17:53] narayan954 commented on #130
go ahead @ArunaAT and please provide your work's screenshots along with the PR. Thank you :)

[2022-08-31 17:58] narayan954 commented on #17
So, @tushar-glitch would you like to work on this issue?

[2022-09-01 02:40] ArunaAT commented on #130
I will start working on it right away, after completing I will send you a
Screenshot with PR.

On Wed, 31 Aug 2022 at 10:53, Narayan soni ***@***.***> wrote:

[2022-09-02 04:56] kirtanchandak commented on #151
Can you assign this to me ?

[2022-09-02 14:19] myhacktech commented on #110
@kakkarot0 i am assigning this to other participant,as i have found no updates

[2022-09-02 14:22] thecodermaniac commented on #110
i want to make this page responsive

[2022-09-06 14:04] thecodermaniac commented on #124
assign me this issue !
i will work on it

[2022-09-11 11:40] prjailani commented on #130
Hi if she is not working on that can you re-open my PR and merge it @narayan954 ?

[2022-09-13 19:58] fykaa commented on #134
@narayan954  What kind of Content is supposed to be added, Please elaborate, I would want to work on this issue

[2022-09-14 07:19] narayan954 commented on #137
closing this as completed!

[2022-09-14 07:19] #137 closed

[2022-09-14 09:12] prjailani opened #162 "Fixed Typos and Grammatical mistakes"
Hi sir/madam,

In our Readme.md file there are some typos and Grammatical mistakes. I fixed that issue. So, please check my PR #158

Thanks and Regards,
Abdul Kader Jailani P R

[2022-09-14 09:53] narayan954 commented on #162
Thanks for raising the issue .

[2022-09-14 09:54] #162 closed

[2022-09-15 01:44] Prahmodh-R opened #164 "Add a feedback section in the main website"
I would like to create a section in the website where I can add custom feedbacks of those who have used our website for its resources and learning. This would increase the credibility of the website and increase user activity.

[2022-09-15 01:46] Prahmodh-R commented on #164
@narayan954 Could you please assign this issue to me

[2022-09-15 10:17] fykaa commented on #134
@myhacktech Please merge PR 163 with this issue

[2022-09-15 13:30] narayan954 commented on #134
Thanks for the contribution. Closing this as a completed issue.

[2022-09-15 13:30] #134 closed

[2022-09-15 19:01] thecodermaniac commented on #76
is the issue opened ? then I will work on the enhancement of the page . If opened then assign me the issue.

[2022-09-15 19:28] Anubhavgupta14 opened #165 "Toggle Nav. Bar not working in Android, And all other development pages."
Toggle Nav. Bar not working in Android, And all other development pages.
Will also fix Dark Mode.

[2022-09-15 19:31] Anubhavgupta14 commented on #76
@thecodermaniac Sorry, Due to my Examination and other trips, I wasn't able to work on this issue, but I will complete it by today.

[2022-09-15 19:33] #74 closed

[2022-09-15 19:58] thecodermaniac commented on #128
Assign me this issue....
Will resolve various bugs in the interview page

[2022-09-17 06:55] ganesh-utla opened #167 "Adding Dark mode in Studyroom page"
I would like to add the dark mode facility to the studyroom  page and also solving some navbar font-color issues in the dark mode of Academics and Development pages, which is unclear to read!
![image](https://user-images.githubusercontent.com/87692393/190844653-4fae14ef-e4db-46f1-a3f7-bda031c80d2f.png)
Can you assign it to me?

[2022-09-17 07:28] ganesh-utla opened #168 "Adding some relevant sources in Development pages"
I would like to add some relevant sources in the Android, Web, ML section of the Development pages. Like adding some specific programming language sources in the form of accordion that is relevant to that page only. As there are some sources available in blockchain and devOps sections, I'll keep it unchanged.
Can you assign it to me?

[2022-09-17 07:43] myhacktech opened #169 "to work on imroving UI of the screenshot of links attached"
work on changing the style and font color of the links in right side of the page
![Screenshot (762)](https://user-images.githubusercontent.com/86517958/190846276-18571056-4071-4a6f-9523-73838191ed1a.png)

[2022-09-17 08:10] aishwarya1735 commented on #169
Can this issue be assigned to me .

[2022-09-17 13:54] Arun9739 opened #171 "Adding "OOPS" section under Computer Science Fundamentals"
## Description
- Need to add"OOPS" section under Computer Science Fundamentals
- OOPS is very important concept under Computer Science
- Need to add related all the links and videos
- Need to make sure that design of website doesn't change

## Section to  be changed :
![image](https://user-images.githubusercontent.com/84305637/190860516-259b8a73-e5f8-4d25-9690-4790d20db01c.png)

[2022-09-17 13:54] Arun9739 commented on #171
@tier3guy Please assign me this issue

[2022-09-17 16:38] NageshMandal opened #172 "Add Fevicons In Android,Web,Machine Learning,Bockchain and DevOps"
![17 09 2022_22 02 00_REC](https://user-images.githubusercontent.com/106006006/190867279-3957681a-2d08-4b92-b958-12a5e680999d.png)
![17 09 2022_22 02 56_REC](https://user-images.githubusercontent.com/106006006/190867287-b9e1ea21-369d-4249-816f-d6f428c6025b.png)

[2022-09-17 16:38] NageshMandal commented on #172
I want to work on this issue. Could you please assign it to me.

[2022-09-18 07:59] narayan954 commented on #164
closing this as completed

[2022-09-18 07:59] #164 closed

[2022-09-18 08:01] narayan954 commented on #171
go ahead!

[2022-09-18 08:05] narayan954 commented on #167
great go ahead!

[2022-09-18 08:14] narayan954 commented on #165
hey there @Anubhavgupta14 Thanks for raising the issue, you can work on it.

[2022-09-18 08:16] narayan954 commented on #168
great @ganesh-utla , you can go ahead with this!

[2022-09-18 08:18] narayan954 commented on #172
yes go ahead @NageshMandal

[2022-09-18 09:51] NageshMandal opened #174 "Image Issue In Footer Section"
Footer Section Image Issue
main.html
android.html
ml.html
web.html
blockchain.html
csit.html
electronics.html
electrical.html
mechanical.html
civil.html
![18 09 2022_14 47 23_REC](https://user-images.githubusercontent.com/106006006/190896177-b6a367bb-119a-4ac2-9e4f-89995ab19a82.png)

[2022-09-18 09:52] NageshMandal commented on #174
I want to work on this issue. Could you please assign it to me.

[2022-09-20 21:41] fykaa opened #177 "Fixing Buy me a coffee img error with around 13 Html files"
![image](https://user-images.githubusercontent.com/97490463/191369874-206d70fe-8bfc-4314-a0d1-1b2dbc91324f.png)

[2022-09-21 16:30] fykaa commented on #177
https://github.com/tier3guy/Acadmica/pull/178 pls accept pr

[2022-09-22 06:47] ShravaniAK commented on #125
i can work on this

[2022-09-23 15:04] #150 closed

[2022-09-23 15:05] #149 closed

[2022-09-23 17:33] #84 closed

[2022-09-23 17:34] #151 closed

[2022-09-23 18:27] Kirankp25 opened #183 "To fix error in footer of this site"
I would like to contribute to this issue in which some technical error like an image is loaded at the site .
assign me this one.
![Screenshot (270)](https://user-images.githubusercontent.com/87818185/192033008-807e22ff-28be-4f94-ab48-7da59ddcb0eb.png)

[2022-09-23 19:20] Anubhavgupta14 opened #184 "Will add Pre-loader at each sub-pages."
Will add Pre-loader at each sub-pages.
Ex.
![Spin-Preloader-1](https://user-images.githubusercontent.com/97956667/192041891-3cf52f2b-2986-46fb-a53e-3e237e558a1b.gif)

[2022-09-23 19:24] Anubhavgupta14 opened #185 "Main UI is need to be fixed. It is Broken in Desktop mode."
Main UI is need to be fixed. Its is Broken in Desktop mode.
![f](https://user-images.githubusercontent.com/97956667/192042451-3a934478-59f4-448c-8730-862f1e7a2556.jpg)
![d](https://user-images.githubusercontent.com/97956667/192042462-ceab1187-b3e8-40b1-aafb-24131e44dfc2.jpg)
@myhacktech Assign it to me, I will fix it.

[2022-09-24 05:17] ShravaniAK opened #187 "making card for testimonial section"
![Uploading Screenshot 2022-09-24 at 10.46.58 AM.png…]()

[2022-09-24 10:43] ShravaniAK commented on #187
please assign me this issue

[2022-09-24 13:14] myhacktech commented on #187
attach proper screenshot

[2022-09-24 14:21] ShravaniAK commented on #187
<img width="1440" alt="Screenshot 2022-09-24 at 7 50 57 PM" src="https://user-images.githubusercontent.com/97099574/192103045-7857343a-cf8c-4204-8ec1-0117c0dc13f3.png">

i will add border to the testinomial and make it look more attractive

[2022-09-25 04:23] Prahmodh-R commented on #83
Mail-id: pramodhr181@gmail.com
Devfolio username: Prahmodh_Raj
Issue no: 83

[2022-09-25 08:01] #167 closed

[2022-09-25 08:34] #183 closed

[2022-09-25 09:32] Kirankp25 opened #190 "To update UI and tagline with hover effect"
Assign me these issues.
![Screenshot (278)](https://user-images.githubusercontent.com/87818185/192137063-94b0ab57-1d09-4311-84fa-072e9b83df33.png)

[2022-09-25 18:31] #165 closed

[2022-09-26 13:47] thecodermaniac commented on #57
assign me this issue i will work on it

[2022-09-26 14:02] Kirankp25 opened #193 "To fix Bug(Tag line)"
here tag line is not visible, i would like to fix this bug. pls, assign me this issue.
![aca1](https://user-images.githubusercontent.com/87818185/192296211-4d310cb3-d8cf-41d2-a969-8cff21977522.png)

[2022-09-26 14:03] Kirankp25 opened #194 "To make text visible in Dark mode"
Please assign me
![aca2](https://user-images.githubusercontent.com/87818185/192296700-92f851e8-7737-4394-a7a3-45925905f046.png)

[2022-09-26 14:06] Kirankp25 opened #195 "To update UI"
Empty space is looking so wired, I would like to add some value there.pls, assign me this issue.
![aca3](https://user-images.githubusercontent.com/87818185/192297008-0377f255-e603-4fc5-976d-6aab97561889.png)

[2022-09-26 19:59] #97 closed

[2022-09-27 13:39] #185 closed

[2022-09-27 13:50] narayan954 commented on #130
solve on #159

[2022-09-27 13:50] #130 closed

[2022-09-27 14:04] #190 closed

[2022-09-27 17:11] AnshuPathak-88825 opened #196 "Bug in white theme"
![image](https://user-images.githubusercontent.com/78332454/192591548-833a1753-bf23-4731-93f6-1861115796d5.png)
subcribe us button text not is not visible in white theme

[2022-09-27 17:11] AnshuPathak-88825 commented on #196
pls assign me this issue

[2022-09-27 17:15] AnshuPathak-88825 opened #197 "Responsiveness need to be fix"
![image](https://user-images.githubusercontent.com/78332454/192592453-c4b18140-e7bc-4d56-9246-c8c17b1a6ab1.png)
Testimonials  section should be  responsive

[2022-09-27 17:15] AnshuPathak-88825 commented on #197
assign me this issue

[2022-09-27 17:17] AnshuPathak-88825 opened #198 "bugs in semester resource"
![image](https://user-images.githubusercontent.com/78332454/192593058-e5370709-daf5-44eb-a839-066ec68dcafd.png)
subject name text is not visible

[2022-09-27 17:17] AnshuPathak-88825 commented on #198
pls assign me this issue

[2022-09-27 20:31] codeNaitik opened #200 "bug in studyroom.html"
"MAKAUT based UnderGrad" => is not in center of that div. We have to create sepearte div for it and make it center using this :
display: flex;
justify-content: center;
  text-align: center;

[2022-10-01 06:29] #146 closed

[2022-10-02 03:34] #193 closed

[2022-10-02 03:59] #195 closed

[2022-10-02 04:00] #194 closed

[2022-11-20 05:51] Laraibnehal commented on #7
@tier3guy Can you assign me this issue?